{% extends "template.html" %}
{% block content %}
	<form action='/create' method="POST">
	    <label for="gameName">Game:</label><br>
	    <input type="text" id="gameName" name="name" value={{ request.form['name'] }}><br>
	    <label for="gameCategory">Category:</label><br>
	    <input type="text" id="gameCategory" name="category" value={{ request.form['category'] }}><br>
	    <label for="gameConsole">Console:</label><br>
	    <input type="text" id="gameConsole" name="console" value={{ request.form['console'] }}><br><br>
	    <input type="submit" value="Submit">
	</form>     
{% endblock %}           
